.background-image.red {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #f8a593;
  position: absolute;
  bottom: -150px;
  right: -120px;
  z-index: -1;
}

.background-image.yellow {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  background-color: #fdd597;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: -1;
}